@import "joint"

@mixin center
	left: 50%
	margin-left: -600px

@mixin background
	background-position: 80% 40%
	background-size: cover
	color: #fff

#up
	position: fixed
	display: none
	width: 80px
	height: 80px
	right: 50px
	bottom: 50px
	border-radius: 50%
	background: rgba(129,150,166,0.4)
	z-index: 10
	font-size: 70px
	text-align: center
	color: #fff

.withBack
	min-height: 100vh
	@include background
	p
		max-width: 450px
		top: 44vh
		@include center
		font: 13px/2 OpenSans-Regular

.textPage > div
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	width: 100%
	max-width: 1200px
	@include center
	p
		font: 14px/1.7 OpenSans-Regular

h1, h2
	max-width: 600px
	top: 44vh
	@include center
	font: 60px/1.7 OpenSans-Light

h2
	padding-bottom: 30px
	line-height: 1.2

h3
	width: 100%
	font: 35px/1.5 OpenSans-Light

h4
	font: 30px/1.5 OpenSans-Light

h5
	font: 13px/1.7 OpenSans-Semibold
	padding-bottom: 20px

#page1
	background-image: url("../images/back1.jpg")
	img
		position: absolute
		top: 60px
		@include center
	a
		position: absolute
		width: 160px
		top: 53vh
		right: -40px
		display: block
		font: 12px/2 OpenSans-Semibold
		text-transform: uppercase
		//-webkit-transform: rotate(-90deg)
		//-moz-transform: rotate(-90deg)
		//-o-transform: rotate(-90deg)
		//-ms-transform: rotate(-90deg)
		transform: rotate(-90deg)
		z-index: 10
		span
			font-family: OpenSans-Light, sans-serif

#page3
	background-image: url("../images/back3.jpg")
	a
		top: 44vh
		@include center
		font: 14px/4 OpenSans-Bold

#page2
	background-color: #fff
	> div:first-child
		padding: 100px 0
		p
			width: 48%
			padding: 14px 0
			margin: auto 0
			color: #959595
		img
			position: absolute
			right: 0
			bottom: 0
	> div:nth-child(2)
		div
			width: 33.333%
			height: 280px
			padding: 40px
			background-size: cover
			color: #fff
			transition: background-position 0.3s ease 0s
			a
				display: block
				font: 14px/2 OpenSans-Bold
				span:last-child
					position: absolute
					top: 10px
					right: 10px
					font-size: 20px
			> span
				display: block
				height: 110px
				max-width: 440px
				margin-top: 10px
				overflow: hidden
				font: 13px/1.7 OpenSans-Regular
		div:first-child
			background: #F4979C url("../images/smallBack1.jpg") no-repeat -280px -280px
			&:hover
				background-position: 0 0
		div:nth-child(2)
			background: #605E7C url("../images/smallBack2.jpg") no-repeat 0 -280px
			&:hover
				background-position: 0 0
		div:nth-child(3)
			background: #C9993F url("../images/smallBack3.jpg") no-repeat 0 0
			&:hover
				background-position: 280px -280px
		div:nth-child(4)
			flex-grow: 2
			background: #ABECEE url("../images/smallBack4.jpg") no-repeat 0 0
			&:hover
				background-position: -560px 280px
		div:last-child
			background: #81C99C url("../images/smallBack5.jpg") no-repeat 280px 280px
			&:hover
				background-position: 0 0
	> div:last-child
		padding: 100px 0
		p
			width: 23%
			color: #959595
		span
			display: block
			padding: 50px 0 20px
			font: 13px/1 OpenSans-Semibold
			color: #66676C

#page4
	padding: 100px 0 140px
	background-color: #82CB9D
	color: #fff
	p
		width: 31%
	span
		display: block
		padding: 50px 0 20px
		font: 13px/1 OpenSans-Semibold

#page5
	background-color: #F5F6F9
	> div
		padding: 100px 0
		div
			width: 46%
			padding: 50px
			span:first-of-type
				padding: 5px 14px
				border-radius: 4px
				background-color: #E0E0E0
				font: 11px/2 OpenSans-Extrabold
				color: #fff
				text-transform: uppercase
			h4
				padding: 14px 0
			span:nth-of-type(2)
				display: block
				height: 75px
				margin-bottom: 30px
				font: 14px/1.7 OpenSans-Regular
				color: #8196A6
			a
				padding: 13px 30px
				border-radius: 3px
				background-color: #81C99C
				font: 13px/2 OpenSans-Bold
				color: #fff
				text-transform: uppercase
			span:last-of-type
				display: block
				margin-top: 30px
				font-size: 25px
				color: #C4C4C4
			&:hover
				box-shadow: 0 0 6px rgba(0,0,0,0.1)
				background-color: #fff
				span:first-of-type
					background-color: #BD8CBE

footer
	background-color: #182330
	color: #fff
	> div
		padding: 120px 0 140px
		div:first-child
			width: 50%
			p
				padding-bottom: 60px
				font: 13px/1.7 OpenSans-Regular
			menu
				display: inline-block
				width: 30%
				a
					display: block
					font: 13px/1.9 OpenSans-Regular
					margin-right: 40px

		div:last-child
			width: 40%
			span
				font: 12px/1.5 OpenSans-Regular
				color: #56687E
form
	width: 100%
	padding-bottom: 15px
	input[type="search"]
		width: 100%
		height: 60px
		padding: 0 70px 0 20px
		border-radius: 3px
		font: 18px/1 OpenSans-Regular
		color: #000
	input[type="submit"]
		position: absolute
		width: 70px
		height: 60px
		top: 0
		right: 0
		background-color: #82CB9D
		border-top-right-radius: 3px
		border-bottom-right-radius: 3px
		cursor: pointer
	img
		position: absolute
		top: 20px
		right: 20px

@mixin noCenter
	left: 20px
	margin-left: 0

@media only all and (max-width: 1240px)
	.withBack p, h1, h2, #page1 img, #page3 a
		@include noCenter

	.textPage > div
		left: 0
		margin-left: 0
		padding-left: 20px !important
		padding-right: 20px !important