@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf); }
@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: OpenSans-Extrabold;
  src: url(../fonts/OpenSans-Extrabold.ttf); }
* {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box; }

img {
  vertical-align: middle; }

*::-moz-selection {
  background-color: inherit;
  color: inherit; }

*::selection {
  background-color: inherit;
  color: inherit; }

.fa {
  font-family: FontAwesome; }

#up {
  position: fixed;
  display: none;
  width: 80px;
  height: 80px;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  background: rgba(129, 150, 166, 0.4);
  z-index: 10;
  font-size: 70px;
  text-align: center;
  color: #fff; }

.withBack {
  min-height: 620px;
  height: 100vh;
  background-position: 80% 40%;
  background-size: cover;
  color: #fff; }
  .withBack p {
    max-width: 450px;
    top: 44vh;
    left: 50%;
    margin-left: -600px;
    z-index: 10;
    font: 13px/2 OpenSans-Regular; }

.textPage > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  margin-left: -600px; }
  .textPage > div p {
    font: 14px/1.7 OpenSans-Regular; }

h1, h2 {
  max-width: 600px;
  top: 44vh;
  left: 50%;
  margin-left: -600px;
  z-index: 10;
  font: 60px/1.7 OpenSans-Light; }

h2 {
  padding-bottom: 30px;
  line-height: 1.2; }

h3 {
  width: 100%;
  font: 35px/1.5 OpenSans-Light; }

h4 {
  font: 30px/1.5 OpenSans-Light; }

h5 {
  font: 13px/1.7 OpenSans-Semibold;
  padding-bottom: 20px; }

#page1 {
  background-image: url("../images/back1.jpg"); }
  #page1 img {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -600px; }
  #page1 a {
    position: absolute;
    width: 160px;
    top: 53vh;
    right: -40px;
    display: block;
    font: 12px/2 OpenSans-Semibold;
    text-transform: uppercase;
    transform: rotate(-90deg);
    z-index: 10; }
    #page1 a span {
      font-family: OpenSans-Light, sans-serif; }

#page3 {
  background-image: url("../images/back3.jpg"); }
  #page3 a {
    top: 44vh;
    left: 50%;
    margin-left: -600px;
    font: 14px/4 OpenSans-Bold; }

#page2 {
  background-color: #fff; }
  #page2 > div:first-child {
    padding: 100px 0; }
    #page2 > div:first-child p {
      width: 48%;
      padding: 14px 0;
      margin: auto 0;
      color: #959595; }
    #page2 > div:first-child img {
      position: absolute;
      right: 0;
      bottom: 0; }
  #page2 > div:nth-child(2) div {
    width: 33.333%;
    height: 280px;
    padding: 30px;
    background-size: cover !important;
    color: #fff;
    transition: background-position 0.3s ease 0s; }
    #page2 > div:nth-child(2) div a {
      display: block;
      font: 14px/2 OpenSans-Bold; }
      #page2 > div:nth-child(2) div a span:last-child {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px; }
    #page2 > div:nth-child(2) div > span {
      display: block;
      height: 110px;
      max-width: 440px;
      margin-top: 10px;
      overflow: hidden;
      font: 13px/1.7 OpenSans-Regular; }
  #page2 > div:nth-child(2) div:first-child {
    background: #F4979C url("../images/smallBack1.jpg") no-repeat -280px -280px; }
    #page2 > div:nth-child(2) div:first-child:hover {
      background-position: 0 0; }
  #page2 > div:nth-child(2) div:nth-child(2) {
    background: #605E7C url("../images/smallBack2.jpg") no-repeat 0 -280px; }
    #page2 > div:nth-child(2) div:nth-child(2):hover {
      background-position: 0 0; }
  #page2 > div:nth-child(2) div:nth-child(3) {
    background: #C9993F url("../images/smallBack3.jpg") no-repeat 0 0; }
    #page2 > div:nth-child(2) div:nth-child(3):hover {
      background-position: 280px -280px; }
  #page2 > div:nth-child(2) div:nth-child(4) {
    flex-grow: 2;
    background: #ABECEE url("../images/smallBack4.jpg") no-repeat 0 0; }
    #page2 > div:nth-child(2) div:nth-child(4):hover {
      background-position: -560px 280px; }
  #page2 > div:nth-child(2) div:last-child {
    background: #82CB9D url("../images/smallBack5.jpg") no-repeat 280px 280px; }
    #page2 > div:nth-child(2) div:last-child:hover {
      background-position: 0 0; }
  #page2 > div:last-child {
    padding: 100px 0; }
    #page2 > div:last-child p {
      width: 23%;
      color: #959595; }
    #page2 > div:last-child span {
      display: block;
      padding: 50px 0 20px;
      font: 13px/1 OpenSans-Semibold;
      color: #66676C; }

#page4 {
  padding: 100px 0 140px;
  background-color: #82CB9D;
  color: #fff; }
  #page4 p {
    width: 31%; }
  #page4 span {
    display: block;
    padding: 50px 0 20px;
    font: 13px/1 OpenSans-Semibold; }

#page5 {
  background-color: #F5F6F9; }
  #page5 > div {
    padding: 100px 0; }
    #page5 > div div {
      width: 46%;
      padding: 50px; }
      #page5 > div div span:first-of-type {
        padding: 5px 14px;
        border-radius: 4px;
        background-color: #E0E0E0;
        font: 11px/2 OpenSans-Extrabold;
        color: #fff;
        text-transform: uppercase; }
      #page5 > div div h4 {
        padding: 14px 0; }
      #page5 > div div span:nth-of-type(2) {
        display: block;
        height: 75px;
        margin-bottom: 30px;
        font: 14px/1.7 OpenSans-Regular;
        color: #8196A6; }
      #page5 > div div a {
        padding: 13px 30px;
        border-radius: 3px;
        background-color: #82CB9D;
        font: 13px/2 OpenSans-Bold;
        color: #fff;
        text-transform: uppercase; }
      #page5 > div div span:last-of-type {
        display: block;
        margin-top: 30px;
        font-size: 25px;
        color: #C4C4C4; }
      #page5 > div div:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #fff; }
        #page5 > div div:hover span:first-of-type {
          background-color: #BD8CBE; }

footer {
  background-color: #182330;
  color: #fff; }
  footer > div {
    padding: 120px 0 140px; }
    footer > div div:first-child {
      width: 50%; }
      footer > div div:first-child p {
        padding-bottom: 60px;
        font: 13px/1.7 OpenSans-Regular; }
      footer > div div:first-child menu {
        display: inline-block;
        width: 30%; }
        footer > div div:first-child menu a {
          display: block;
          font: 13px/1.9 OpenSans-Regular;
          margin-right: 40px; }
    footer > div div:last-child {
      width: 40%; }
      footer > div div:last-child span {
        font: 12px/1.5 OpenSans-Regular;
        color: #56687E; }

i {
  display: none; }

form {
  width: 100%;
  padding-bottom: 15px; }
  form input[type="search"] {
    width: 100%;
    height: 60px;
    padding: 0 70px 0 20px;
    border-radius: 3px;
    font: 18px/1 OpenSans-Regular;
    color: #000; }
  form input[type="submit"] {
    position: absolute;
    width: 70px;
    height: 60px;
    top: 0;
    right: 0;
    background-color: #82CB9D;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer; }
  form img {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }

@media only all and (max-width: 1240px) {
  .withBack p, h1, h2, #page1 img, #page3 a {
    left: 20px;
    margin-left: 0; }

  .textPage > div {
    left: 0;
    margin-left: 0;
    padding-left: 20px !important;
    padding-right: 20px !important; } }

/*# sourceMappingURL=min1000.css.map */
